<div class="container main-panel">
  <div class="jumbotron">
    <h1> Mongo Scraper - Movie Headlines Edition!</h1>
    <p class="lead">
      This Site Scrapes the latest movie news from Rotten Tomatoes and lets you save them for future use.
    </p>
    <hr class="my-2">
    <p>
      Click the Button to begin the Scrape! Be Careful! This will reset all articles and comments!
    </p>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">{{scrape}}</a>
    {{#each articleView}}
    <div class="card m-2">
      <h4 class="card-header">Featured</h4>
      <div class="card-body">
        <a href="{{this.link}}">
          <h5 class="card-title">{{this.title}}</h5>
        </a>
        <p class="card-text">{{this.summary}}</p>
        <a data-id={{this._id}} href="#" class="btn btn-info saveButton">Save Article</a>
        <a data-id={{this._id}} href="#" class="btn btn-info noteButton">Save Note</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
</div>